[Desktop Entry]
Type=Application
Exec=rclone mount gdrive: ~/drive --vfs-cache-mode writes
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Rclone Google Drive Mount
