[Desktop Entry]
Type=Application
Name=EasyEffects
Exec=easyeffects --gapplication-service
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
